<style>            
    .contact-info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        place-content: space-evenly;
    }
    .contact-info>div {
        padding: 5rem;
        gap: 1rem;
        background: rgba(244, 244, 244, 0.9);
    }
    .contact-div {
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .contact-image {
        width: 5rem;
        height: 5rem;
    }
</style>
<div style='padding: 1em;'>
    <div>
      <h1 class="">Vedana Kodu</h1>
      <p>© 2023 все права защищены</p>
    </div>
    <div>
      <h2>Контакты для связи</h2>
      <div class="contact-info">
          <div class='contact-div'>
              <img class="contact-image" src="https://img.icons8.com/fluency/96/phone--v1.png" alt="call-us">
              <a href="tel:+37256212925">+372-562-129-25</a>
          </div>
          <div class='contact-div'>
              <img class="contact-image" src="https://img.icons8.com/fluency/96/new-post.png" alt="mail-us">
              <span><a href="mailto:info@vedanakodu.ee?subject=Организация_пространства">info@vedanakodu.ee</a></span>
          </div>
      </div>
    </div>
</div>
